.navbar {
    margin-bottom: 0;
    background-color: rgb(0, 0, 29);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(0, 0, 29) !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
body {
    padding: 60px;
    background-color: rgb(248, 248, 248);
    font-family: Lato, sans-serif;
    color:rgb(24, 24, 24);
}
.csk-icon{
    text-align: left;
    height: 60px;
    width: 60px;
    padding-top:10px;
    padding-left:10px;
}
h2{
    font: Montserrat, sans-serif;
    text-align: center;
}
h5{
    text-align: center;
}
.article-picture{
    height: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.blog-container{
    margin: -5px 20px 0px 20px;
    
}
article {
    background-color: rgb(231, 231, 231);
    padding: 15px;
    color: rgb(0, 0, 29);
    font-size:1.5em;
    float:left;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .blog-container {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    img {
      width: 100%;
    }
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
